.button {
    margin: 18px 0 0 0;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: none;
    min-height: 32px;
    padding: 0 16px;

    &.primary {
        font-size: 16px;
        font-weight: 400;
        background-color: #0061ff;
        background-image: none;
        border-radius: 0;
        height: 44px;

        &:hover {
            background-color: #007af5;
        }
    }

    &.disabled {
        background-color: #ebebeb;
        color: #aaa;
        pointer-events: none;
    }

    .button__content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            margin-right: 5px;
        }

        img {
            width: 20px;
        }
    }
}